# Directorio de salida de Maven.
target/

# Configuración de Eclipse.
.metadata/
.project
.settings/
.classpath

# Configuración de Intellij IDEA
*.iml
*.ipr
*.iws
.idea/

# Ficheros temporales de gitk
/.gitk*/
